@import 'src/styles/utils/variable';
@import 'src/styles/utils/fonts';

.typography {
  &-title2 {
    font-family: $circularstd-medium;
    font-size: 28px;
    line-height: 30px;
    color: $pink;
  }
  &-title3 {
    font-family: $circularstd-bold;
    font-size: 52px;
    line-height: 60px;
    color: $blue;
  }
  &-title4{
    font-family: $circularstd-bold;
    font-size: 34px;
    line-height: 38px;
    color: $blue;
  }
  &-title5{
    font-family: $circularstd-medium;
    font-size: 24px;
    line-height: 26px;
    color: $blue;
    letter-spacing: 0.2px;
  }
  &-title6{
    font-family: $proximanova-bold;
    font-size: 20px;
    line-height: 26px;
    color: $grey;
    letter-spacing: 0.2px;
  }

  &-text {
    display: inline-block;
    font-family: $proximanova-regular;
    font-size: 18px;
    line-height: 28px;
    color: $grey;
  }

  &-text1 {
    display: inline-block;
    font-family: $proximanova-regular;
    font-size: 20px;
    line-height: 22px;
    color: $grey;
    letter-spacing: 0.2px;
  }

  &-text2 {
    display: inline-block;
    font-family: $proximanova-regular;
    font-size: 14px;
    line-height: 20px;
    color: $white;
    letter-spacing: 0.2px;
  }

  &-error {
    display: inline-block;
    font-family: $proximanova-regular;
    font-size: 18px;
    line-height: 28px;
    color: $red;
  }
}