.about{
  margin-bottom: 150px;
  position: relative;
  &__wrapper{
    display: flex;
  }
  &__illustration,
  &__content{
    width: 50%;
  }
  &__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 75px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 40px;
  }
  &__reviews{
    position: relative;
    &-comment{
      margin-bottom: 30px;
    }
    &-author{
      margin-bottom: 10px;
    }
    &-address{
      padding-right: 30px;
    }

  }
  .next{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .prev{
    position: absolute;
    right: 30px;
    bottom: 0;
    z-index: 1;
  }
}