@font-face {
  font-family: 'ProximaNova Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'), url('../../assets/fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'), url('../../assets/fonts/ProximaNova/ProximaNova-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'ProximaNova Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../assets/fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'), url('../../assets/fonts/ProximaNova/ProximaNova-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'CircularStd Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../assets/fonts/CircularStd/CircularStd-Medium.woff2') format('woff2'), url('../../assets/fonts/CircularStd/CircularStd-Medium.woff') format('woff'), url('../../assets/fonts/CircularStd/CircularStd-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'CircularStd Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../assets/fonts/CircularStd/CircularStd-Bold.woff2') format('woff2'), url('../../assets/fonts/CircularStd/CircularStd-Bold.woff') format('woff'), url('../../assets/fonts/CircularStd/CircularStd-Bold.ttf') format('ttf');
}