//colors
$pink: #F78CB6;
$blue: #56597A;
$light-blue: #919299;
$light-pink: #FFF1F9;
$white: #fff;
$grey: #919299;
$red: red;
//fonts
$proximanova-regular: 'ProximaNova Regular';
$proximanova-bold: 'ProximaNova Bold';
$circularstd-medium: 'CircularStd Medium';
$circularstd-bold: 'CircularStd Bold';
